body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f6fa;
}

/* APP */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar nav p {
  padding: 10px;
  cursor: pointer;
  color: #9ca3af;
}

.sidebar nav p.active {
  background: #1f2937;
  border-radius: 8px;
  color: white;
}

.logout {
  background: #ef4444;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* CONTENT */
.content {
  padding: 20px;
  overflow-y: auto;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
}

.income { border-left: 5px solid #22c55e; }
.expense { border-left: 5px solid #ef4444; }
.balance { border-left: 5px solid #3b82f6; }

/* CHART */
.chart {
  margin-top: 20px;
}

.chart-box {
  background: white;
  padding: 15px;
  border-radius: 12px;
  max-height: 300px;
}

/* FILTER */
.filter {
  display: flex;
  gap: 10px;
}

.filter input,
.filter select {
  padding: 10px;
  flex: 1;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* LIST */
.list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  background: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

button {
  margin-left: 5px;
}